@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap';
:root {
  --breakpoints-xs: 400px;
  --breakpoints-sm: 576px;
  --breakpoints-md: 768px;
  --breakpoints-lg: 992px;
  --breakpoints-xl: 1200px;
  --breakpoints-xxl: 1500px;
  --container-xs: 400px;
  --container-sm: 540px;
  --container-md: 720px;
  --container-lg: 960px;
  --container-xl: 1140px;
  --container-xxl: 1440px;
  --color-light: #fff;
  --color-dark: #212121;
  --color-signal: #fab700;
  --color-background: var(--color-light);
  --color-text: var(--color-dark);
  --color-accent: var(--color-signal);
  --size-bezel: 0.5rem;
  --size-radius: 4px;
  --weight: 400;
  --weight_bold: 700;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  max-width: var(--container-xxl);
  margin-inline: auto;
}
@media screen and (max-width: 1500px) {
  .container {
    max-width: var(--container-xl);
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: var(--container-lg);
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: var(--container-md);
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: var(--container-sm);
  }
}
@media screen and (max-width: 576px) {
  .container {
    padding-right: 4vw;
    padding-left: 4vw;
  }
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
input[type=checkbox]:focus-visible + label::before,
input[type=radio]:focus-visible + label::before,
select:focus-visible,
textarea:focus-visible,
[tabindex]:focus-visible,
video:focus-visible[controls],
audio:focus-visible[controls],
[contenteditable]:not([contenteditable=false]):focus-visible,
details:focus-visible,
details > summary:first-of-type:focus-visible {
  outline-style: solid;
}

a,
button,
input,
input[type=checkbox] + label::before,
input[type=radio] + label::before,
select,
textarea,
[tabindex],
video[controls],
audio[controls],
[contenteditable]:not([contenteditable=false]),
details,
details > summary:first-of-type {
  outline-offset: 2px;
  outline-width: 2px;
  outline-color: var(--color-signal);
}

html body {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  color: var(--color-dark);
  font-weight: 1.33;
  line-height: 1.5;
  background-color: #f4f6f6 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html body p,
html body a,
html body div,
html body span,
html body label,
html body textarea,
html body select,
html body input,
html body button,
html body td {
  font-size: clamp(0.875rem, 0.8287rem + 0.2469vw, 1.125rem);
  line-height: 1.33;
}
html body p {
  margin-bottom: 0;
  margin-top: 0;
}
html body select,
html body input {
  font-family: Poppins, sans-serif !important;
  font-weight: var(--weight_bold);
}
html body th {
  font-size: clamp(1.125rem, 1.0962rem + 0.1282vw, 1.25rem);
}
html body h1 {
  font-size: clamp(2rem, 1.6296rem + 1.9753vw, 4rem);
  line-height: 1.33;
  font-weight: var(--weight_bold);
}
html body h2 {
  font-size: clamp(1.75rem, 1.4259rem + 1.7284vw, 3.5rem);
  line-height: 1.33;
  font-weight: var(--weight_bold);
}
html body h3 {
  font-size: clamp(1.375rem, 1.2308rem + 0.641vw, 2rem);
  line-height: 1.33;
  font-weight: var(--weight_bold);
}
html body ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
html body table {
  width: 100%;
  border-spacing: 0.5rem;
}
html body a {
  text-decoration: none !important;
  color: inherit;
  transition: color 0.4s ease-in;
}
html body a:hover {
  color: var(--color-signal);
}

html body.create .modal .modal-dialog.card .modal-content, html body.list .modal .modal-dialog.card .modal-content, html body.login .modal .modal-dialog.card .modal-content {
  row-gap: 1rem;
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: 0;
}
html body.create .modal .modal-dialog.card .modal-content .modal-header, html body.list .modal .modal-dialog.card .modal-content .modal-header, html body.login .modal .modal-dialog.card .modal-content .modal-header {
  padding: 0;
  border-bottom: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
html body.create .modal .modal-dialog.card .modal-content .modal-header .model-title, html body.list .modal .modal-dialog.card .modal-content .modal-header .model-title, html body.login .modal .modal-dialog.card .modal-content .modal-header .model-title {
  font-size: clamp(1.25rem, 1.1923rem + 0.2564vw, 1.5rem);
}
html body.create .modal .modal-dialog.card .modal-content .modal-body, html body.list .modal .modal-dialog.card .modal-content .modal-body, html body.login .modal .modal-dialog.card .modal-content .modal-body {
  padding: 0;
  font-size: clamp(0.875rem, 0.8287rem + 0.2469vw, 1.125rem);
  line-height: 1.33;
}
html body.create .modal .modal-dialog.card .modal-content .modal-footer, html body.list .modal .modal-dialog.card .modal-content .modal-footer, html body.login .modal .modal-dialog.card .modal-content .modal-footer {
  padding: 0;
  background-color: transparent;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
html body.create .input, html body.list .input, html body.login .input {
  position: relative;
  width: 100%;
}
html body.create .input--inverted .input__field, html body.list .input--inverted .input__field, html body.login .input--inverted .input__field {
  border: 3px solid var(--color-light);
  color: var(--color-light);
}
html body.create .input--inverted .input__label, html body.list .input--inverted .input__label, html body.login .input--inverted .input__label {
  background-color: var(--color-dark);
  color: var(--color-light);
}
html body.create .input__field, html body.list .input__field, html body.login .input__field {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 3px solid var(--color-dark);
  padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
  color: var(--color-dark);
  background-color: transparent;
  border-radius: var(--size-radius);
}
html body.create .input__field:focus + .input__label, html body.create .input__field:not(:placeholder-shown) + .input__label, html body.list .input__field:focus + .input__label, html body.list .input__field:not(:placeholder-shown) + .input__label, html body.login .input__field:focus + .input__label, html body.login .input__field:not(:placeholder-shown) + .input__label {
  transform: translate(0.25rem, -65%) scale(0.8);
  color: var(--color-signal);
}
html body.create .input__label, html body.list .input__label, html body.login .input__label {
  position: absolute;
  left: 0;
  top: 0;
  padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * 0.5);
  margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * 0.5);
  white-space: nowrap;
  transform: translate(0, 0);
  transform-origin: 0 0;
  background-color: var(--color-light);
  transition: transform 120ms ease-in;
  font-weight: var(--weight_bold);
  line-height: 1.33;
}
html body.create ::-webkit-calendar-picker-indicator, html body.list ::-webkit-calendar-picker-indicator, html body.login ::-webkit-calendar-picker-indicator {
  background-color: var(--color-signal);
  padding: 5px;
  cursor: pointer;
  border-radius: 2px;
}
html body.create .btn, html body.list .btn, html body.login .btn {
  display: flex;
  height: fit-content;
  color: var(--color-dark);
  padding: var(--size-bezel) calc(var(--size-bezel) * 2);
  background-color: var(--color-signal);
  border-radius: var(--size-radius);
  font-weight: var(--weight_bold);
  border: none;
  transition: color 0.4s ease-in;
}
html body.create .btn--inverted, html body.list .btn--inverted, html body.login .btn--inverted {
  color: var(--color-light);
}
html body.create .btn--inverted[type=reset], html body.list .btn--inverted[type=reset], html body.login .btn--inverted[type=reset] {
  background-color: var(--color-dark);
}
html body.create .btn--inverted:hover, html body.list .btn--inverted:hover, html body.login .btn--inverted:hover {
  color: var(--color-dark);
  background-color: var(--color-signal);
}
html body.create .btn:hover, html body.list .btn:hover, html body.login .btn:hover {
  transition: color 0.4s ease-in;
  background-color: var(--color-signal);
  color: var(--color-light);
}
html body.create .btn[type=reset], html body.list .btn[type=reset], html body.login .btn[type=reset] {
  background-color: var(--color-light);
  font-weight: var(--weight);
}
html body.create .btn[type=reset]:hover, html body.list .btn[type=reset]:hover, html body.login .btn[type=reset]:hover {
  background-color: var(--color-signal);
}
html body.create select, html body.list select, html body.login select {
  background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9JzEwcHgnIHdpZHRoPScxMHB4JyB2aWV3Qm94PScwIDAgMTYgMTYnIGZpbGw9JyNmYWI3MDAnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTcuMjQ3IDExLjE0IDIuNDUxIDUuNjU4QzEuODg1IDUuMDEzIDIuMzQ1IDQgMy4yMDQgNGg5LjU5MmExIDEgMCAwIDEgLjc1MyAxLjY1OWwtNC43OTYgNS40OGExIDEgMCAwIDEtMS41MDYgMHonLz48L3N2Zz4K") no-repeat;
  background-position: calc(100% - 0.75rem) center !important;
  appearance: none !important;
  padding-right: 2rem !important;
}
html body.create select option, html body.list select option, html body.login select option {
  color: var(--color-dark) !important;
}
html body.create .card, html body.list .card, html body.login .card {
  background-color: var(--color-light);
  padding: calc(4 * var(--size-bezel));
  border-radius: var(--size-radius);
  border: 3px solid var(--color-dark);
  box-shadow: 0.5rem 0.5rem 0 var(--color-dark);
}
html body.create .card--inverted, html body.list .card--inverted, html body.login .card--inverted {
  background-color: var(--color-dark);
  border: 3px solid var(--color-signal);
  box-shadow: 0.5rem 0.5rem 0 var(--color-signal);
}
html body.create .card--accent, html body.list .card--accent, html body.login .card--accent {
  background-color: var(--color-signal);
  border: 3px solid var(--color-dark);
  box-shadow: 0.5rem 0.5rem 0 var(--color-dark);
}

html body.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 4vw;
}
@supports (height: 100dvh) {
  html body.login {
    height: 100dvh !important;
  }
}
@supports not (height: 100dvh) {
  html body.login {
    height: 100vh !important;
  }
}
html body.login main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
html body.login main h1 {
  margin-bottom: 16px;
  color: var(--color-light);
}
html body.login main img {
  width: 50%;
  height: auto;
  aspect-ratio: 1/1;
}
html body.login main form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 80%;
}
html body.login main form button {
  margin-top: 1rem;
}

#navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--color-light);
  height: calc(fit-content + clamp(1rem, 0.7692rem + 1.0256vw, 2rem) * 2);
  padding: clamp(1rem, 0.7692rem + 1.0256vw, 2rem) clamp(1.5rem, 1.1538rem + 1.5385vw, 3rem);
  width: 100vw;
  border-radius: 24px 24px 0 0;
  z-index: 10;
}
#navbar img {
  border: 5px solid var(--color-light);
  border-radius: 999px;
  position: absolute;
  cursor: pointer;
  width: clamp(3rem, 2.5385rem + 2.0513vw, 5rem);
  height: clamp(3rem, 2.5385rem + 2.0513vw, 5rem);
  top: -80%;
  left: calc(100% - clamp(3rem, 2.5385rem + 2.0513vw, 5rem));
  transform: translate(-50%, -50%);
  transition: all 0.4s ease-in;
  background-color: var(--color-signal);
}
#navbar img:hover {
  transform: translate(-50%, -50%) scale(1.1);
  transition: all 0.4s ease-in;
}
#navbar .nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 60%;
  margin-inline: auto;
}
#navbar .nav__list .nav__item {
  min-width: 100px;
  cursor: pointer;
  font-weight: var(--weight_bold);
  text-align: center;
}
@media screen and (max-width: 992px) {
  #navbar {
    padding: calc(clamp(1rem, 0.7692rem + 1.0256vw, 2rem) * 2) clamp(1.5rem, 1.1538rem + 1.5385vw, 3rem);
  }
  #navbar .nav__list {
    max-width: 100%;
  }
  #navbar img {
    left: 50%;
    top: 0;
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(clamp(3rem, 2.5385rem + 2.0513vw, 5rem) + clamp(1rem, 0.7692rem + 1.0256vw, 2rem) * 2);
  padding: clamp(1rem, 0.7692rem + 1.0256vw, 2rem) clamp(1.5rem, 1.1538rem + 1.5385vw, 3rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-light);
  z-index: 10;
}
#header .logo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
#header .logo span {
  font-size: clamp(2rem, 1.6296rem + 1.9753vw, 4rem);
  line-height: 1.33;
  font-weight: var(--weight_bold);
}
#header .logo img {
  width: clamp(3rem, 2.5385rem + 2.0513vw, 5rem);
  height: clamp(3rem, 2.5385rem + 2.0513vw, 5rem);
}
#header .mysql_connexion {
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  justify-content: flex-end;
  align-items: center;
}
#header .mysql_connexion .indicator {
  width: 20px;
  height: 20px;
  border-radius: 999px;
  margin-left: 10px;
}
@media screen and (max-width: 400px) {
  #header .mysql_connexion span {
    display: none;
  }
}

#footer {
  position: fixed;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  padding: 20px;
  display: none;
}

body.create, body.list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 4vw;
}
body.create main, body.list main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: calc(clamp(3rem, 2.5385rem + 2.0513vw, 5rem) + 32px + clamp(1rem, 0.7692rem + 1.0256vw, 2rem) * 2);
  margin-bottom: calc(clamp(3rem, 2.5385rem + 2.0513vw, 5rem) + 32px + clamp(1rem, 0.7692rem + 1.0256vw, 2rem) * 2);
}
body.create main h1, body.list main h1 {
  margin-bottom: 16px;
  color: var(--color-dark);
}
body.create main img, body.list main img {
  width: 50%;
  height: auto;
  aspect-ratio: 1/1;
}
body.create main form, body.list main form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 80%;
}
@media screen and (max-width: 576px) {
  body.create main form, body.list main form {
    width: 100%;
  }
}
body.create main form button, body.list main form button {
  margin-top: 1rem;
}
body.create main.card--inverted, body.list main.card--inverted {
  width: auto !important;
}
body.create main.card--inverted h1, body.list main.card--inverted h1 {
  margin-bottom: 16px;
  color: var(--color-light);
}
body.create main .card, body.list main .card {
  width: 60%;
  text-align: center;
}
body.create main .card p, body.list main .card p {
  font-size: clamp(1.5rem, 1.2115rem + 1.2821vw, 2.75rem);
  line-height: 1.33;
  font-weight: var(--weight);
}
@media screen and (max-width: 1500px) {
  body.create main .card, body.list main .card {
    width: 70%;
  }
}
@media screen and (max-width: 1200px) {
  body.create main .card, body.list main .card {
    width: 60%;
  }
}
@media screen and (max-width: 992px) {
  body.create main .card, body.list main .card {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  body.create main .card, body.list main .card {
    padding: 1rem;
  }
}
body.create main .positive-amount, body.list main .positive-amount {
  color: #1e884b;
}
body.create main .negative-amount, body.list main .negative-amount {
  color: #ed0e0e;
}
body main .card.card-transaction {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}
body main .card.card-transaction img {
  width: 25%;
  max-width: 100%;
  height: auto;
}
body main .card.card-transaction .right {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  width: 100%;
  justify-content: space-between;
}
body main .card.card-transaction .right .actions {
  display: flex;
  grid-area: 2/2/3/4;
  column-gap: 1rem;
  justify-content: flex-end;
  align-items: flex-end;
}
body main .card.card-transaction .right .actions form {
  width: auto;
}
body main .card.card-transaction .right .actions button svg {
  width: 24px;
  height: 24px;
  transition: all 0.4s ease-in;
  fill: var(--color-dark);
}
body main .card.card-transaction .right .actions button:hover svg {
  transition: all 0.4s ease-in;
  fill: var(--color-light);
}
body main .card.card-transaction .right .right-top {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  justify-content: space-between;
  align-items: flex-start;
}
body main .card.card-transaction .right .right-top .price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
body main .card.card-transaction .right .right-top .price span:first-of-type {
  font-size: clamp(1.375rem, 1.2308rem + 0.641vw, 2rem);
  font-weight: var(--weight_bold);
  white-space: nowrap;
  text-align: right;
}
body main .card.card-transaction .right .right-top .description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
body main .card.card-transaction .right .right-top .description h3 {
  margin-bottom: 0;
  text-align: left;
}
@media screen and (max-width: 768px) {
  body main .card.card-transaction img {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
